@model IEnumerable<Pizzas>

@{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
}

<div align="center">
    <h1 style="color:darkred">Welcome to Venus Pizza Shop!</h1>
    <h2 style="color:darkred">Here's our weekly selection of pizzas.</h2>
</div>

@await Component.InvokeAsync("CarouselMenu")
